/* begin Page */
#b2-page-background-glare, #b2-page-background-glare-image
{
  zoom: 1;
}

img
{
  filter: expression(artFixPNG(this));
}/* end Page */

/* begin Menu */
.b2-nav-r
{
  clip: rect(auto auto auto 989px);
}

/* end Menu */

/* begin MenuItem */
.b2-hmenu a .r
{
  clip: rect(auto auto auto 416px);
}
/* end MenuItem */

/* begin Box, Sheet */
.b2-sheet-tl
{
  clip: rect(auto 17px 17px auto);
}

.b2-sheet-tr
{
  clip: rect(auto auto 17px 17px);
}

.b2-sheet-bl
{
  clip: rect(17px 17px auto auto);
}

.b2-sheet-br
{
  clip: rect(17px auto auto 17px);
}

.b2-sheet-tc
{
  clip: rect(auto auto 17px auto);
}

.b2-sheet-bc
{
  clip: rect(17px auto auto auto);
}

.b2-sheet-cr
{
  clip: rect(auto auto auto 17px);
}

.b2-sheet-cl
{
  clip: rect(auto 17px auto auto);
}

.b2-sheet-body
{
  zoom: 1;
}
/* end Box, Sheet */

/* begin Layout */
.b2-content-layout, .b2-content-layout-row {display: block;}
.b2-content-layout, .b2-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Button */
.b2-button-wrapper .b2-button-r
{
  clip: rect(auto auto auto 404px);
}
/* end Button */

/* begin Box, Block, VMenuBlock */

.b2-vmenublock-body
{
  zoom: 1;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.b2-vmenublockheader .r
{
  clip: rect(auto auto auto 973px);
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */

.b2-vmenublockcontent-body
{
  zoom: 1;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.b2-vmenu .b2-vmenu-separator, ul.b2-vmenu .b2-vmenu-separator-span, ul.b2-vmenu li.b2-vsubmenu-separator, ul.b2-vmenu .b2-vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

.b2-vmenu ul, .b2-vmenu li
{
  zoom: 1;
}

ul.b2-vmenu a .r
{
  clip: rect(auto auto auto 996px);
}
/* end VMenuItem */

/* begin Box, Block */

.b2-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.b2-blockheader .r
{
  clip: rect(auto auto auto 973px);
}
/* end BlockHeader */

/* begin Box, BlockContent */

.b2-blockcontent-body
{
  zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */

.b2-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.b2-postcontent
{
  height: 1%;
}
/* end PostContent */

/* begin Footer */
.b2-footer-body
{
    padding-right: 0;
  zoom:1;
}

.b2-footer{
  zoom:1;
}

.b2-footer-r
{
  clip: rect(auto auto auto 5px);
}

/* end Footer */

/* begin LayoutCell, content */
.b2-sidebar2 {width: auto;}
.b2-content-layout .b2-layout-cell, .b2-content-layout .b2-layout-cell .b2-content-layout .b2-layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.b2-content-layout .b2-layout-cell, .b2-content-layout .b2-layout-cell .b2-content-layout .b2-layout-cell {  zoom:1; }
.b2-layout-cell .b2-layout-cell{ float: none; clear: both;}
/* end LayoutCell, content */

