/* begin Page */

/* Created by Artisteer v3.0.0.39952 */

#b2-page-background-glare
{
  zoom: 1;
}

#b2-page-background-glare-image
{
  position:absolute;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/page_gl.png',sizingMethod='crop')");
  zoom: 1;
}

img
{
  filter: expression(artFixPNG(this));
}

.cleared 
{
    width:1px;
}
/* end Page */

/* begin HeaderObject */
div.b2-headerobject
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/header-object.png',sizingMethod='scale')");
}
/* end HeaderObject */

/* begin Menu */
.b2-hmenu ul
{
  width: 1px;
  height: 1%;
}

.b2-hmenu li.b2-hmenuhover
{
  z-index: 10000;
}

.b2-hmenu .b2-hmenuhoverUL
{
  visibility: visible;
  top: 100%;
  left: 0;
}

.b2-hmenu .b2-hmenuhoverUL .b2-hmenuhoverUL
{
  top: 0;
  left: 100%;
}

.b2-hmenu, .b2-hmenu ul a
{
  height: 1%;
}

.b2-hmenu li li
{
  float: left;
  width: 100%;
}

.b2-nav
{
  zoom: 1;
  height: 45px;
}

.b2-nav-l, .b2-nav-r
{
  font-size: 1px;
  height: 45px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/nav.png',sizingMethod='crop')");
}

.b2-nav-l
{
  width: expression(this.parentNode.offsetWidth-11+'px');
}

.b2-nav-r
{
  left: expression(this.parentNode.offsetWidth-1000+'px');
  clip: rect(auto auto auto 989px);
}

/* end Menu */

/* begin MenuItem */
.b2-hmenu a
{
  display:inline-block;
}

.b2-hmenu a:hover, .b2-hmenuhoverA {
	visibility:visible;
}

.b2-hmenu a .r, .b2-hmenu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/menuitem.png',sizingMethod='crop')");
}

.b2-hmenu a .r
{
  left:100%;
  margin-left:-432px;
  clip: rect(auto auto auto 416px);
}

.b2-hmenu a .l
{
  width: expression(this.parentNode.offsetWidth-16+'px');
}

.b2-hmenuhover .b2-hmenuhoverA .t
{
  color: #000000;
}

.b2-hmenuhover .b2-hmenuhoverA .l, .b2-hmenuhover .b2-hmenuhoverA .r
{
  top: -30px;
}
/* end MenuItem */

/* begin MenuSeparator */
.b2-nav .b2-hmenu-separator
{
  font-size: 1px;
  zoom: 1;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/menuseparator.png',sizingMethod='crop')");
}

/* end MenuSeparator */

/* begin MenuSubItem */
.b2-hmenu ul a
{
  color: #000000 !important;
}

.b2-hmenu ul a:hover {
  color: #000000 !important;
}	

.b2-hmenu ul .b2-hmenuhover .b2-hmenuhoverA
{
  color: #000000 !important;
  border-color: #9EC8EA;
  background-position: 0 -32px;
}

.b2-nav .b2-hmenu ul a:hover span, .b2-nav .b2-hmenu ul a:hover span span
{
  color: #000000 !important;
}	

.b2-nav .b2-hmenu ul .b2-hmenuhover .b2-hmenuhoverA span, .b2-nav .b2-hmenu ul .b2-hmenuhover .b2-hmenuhoverA span span
{
  color: #000000 !important;
}

/* end MenuSubItem */

/* begin Box, Sheet */
.b2-sheet, .b2-sheet-body
{
  zoom: 1;
}

.b2-sheet-tr, .b2-sheet-tl, .b2-sheet-br, .b2-sheet-bl, .b2-sheet-tc, .b2-sheet-bc,.b2-sheet-cr, .b2-sheet-cl
{
  font-size: 1px;
  background: none;
}

.b2-sheet-tr, .b2-sheet-tl, .b2-sheet-br, .b2-sheet-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_s.png',sizingMethod='scale')");
}

.b2-sheet-tl
{
  clip: rect(auto 17px 17px auto);
}

.b2-sheet-tr
{
  left:expression(this.parentNode.offsetWidth-34+'px');
  clip: rect(auto auto 17px 17px);
}

.b2-sheet-bl
{
  top: expression(this.parentNode.offsetHeight-34+'px');
  clip: rect(17px 17px auto auto);
}

.b2-sheet-br
{
  top: expression(this.parentNode.offsetHeight-34+'px');
  left:expression(this.parentNode.offsetWidth-34+'px');
  clip: rect(17px auto auto 17px);
}

.b2-sheet-tc, .b2-sheet-bc
{
  width: expression(this.parentNode.offsetWidth-34+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_h.png',sizingMethod='scale')");
}

.b2-sheet-tc
{
  clip: rect(auto auto 17px auto);
}

.b2-sheet-bc
{
  top: expression(this.parentNode.offsetHeight-34+'px');
  clip: rect(17px auto auto auto);
}

.b2-sheet-cr, .b2-sheet-cl
{
  height: expression(this.parentNode.offsetHeight-34+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_v.png',sizingMethod='scale')");
}

.b2-sheet-cr
{
  left:expression(this.parentNode.offsetWidth-34+'px');
  clip: rect(auto auto auto 17px);
}

.b2-sheet-cl
{
  clip: rect(auto 17px auto auto);
}

.b2-sheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-34+'px');
  height: expression(this.parentNode.offsetHeight-34+'px');
  background-color: #FFFFFF;
}
#b2-page-background-top-texture, #b2-page-background-middle-texture
{
  width: expression(document.body.clientWidth>1000?"100%":"1000px");
}

/* end Box, Sheet */

/* begin Layout */
.b2-content-layout, .b2-content-layout-row {display: block;}
.b2-content-layout, .b2-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Button */
.b2-button-wrapper, .b2-button-wrapper .b2-button-l, .b2-button-wrapper .b2-button-r
{
  zoom: 1;
}

.b2-button-wrapper .b2-button
{
  float: left;
}

.b2-button-wrapper .b2-button-l, .b2-button-wrapper .b2-button-r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/button.png',sizingMethod='crop')");
}

.b2-button-wrapper .b2-button-r
{
  left:expression(this.parentNode.offsetWidth-407+'px');
  clip: rect(auto auto auto 404px);
}

.b2-button-wrapper .b2-button-l
{
  width: expression(this.parentNode.offsetWidth-3+'px');
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.b2-vmenublock, .b2-vmenublock-body
{
  zoom: 1;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.b2-vmenublockheader
{
  zoom: 1;
}

.b2-vmenublockheader .l, .b2-vmenublockheader .r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/vmenublockheader.png',sizingMethod='crop')");
}

.b2-vmenublockheader .r
{
  left:expression(this.parentNode.offsetWidth-994+'px');
  clip: rect(auto auto auto 973px);
}

.b2-vmenublockheader .l
{
  width: expression(this.parentNode.offsetWidth-21+'px');
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.b2-vmenublockcontent, .b2-vmenublockcontent-body
{
  zoom: 1;
}
.b2-vmenublockcontent, .b2-vmenublockcontent-body
{
  zoom: 1;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.b2-vmenu .b2-vmenu-separator, ul.b2-vmenu .b2-vmenu-separator-span, ul.b2-vmenu li.b2-vsubmenu-separator, ul.b2-vmenu .b2-vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

ul.b2-vmenu a:hover
{
  visibility: visible;
}

ul.b2-vmenu li
{
  zoom:1;
}

ul.b2-vmenu a .r, ul.b2-vmenu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/vmenuitem.png',sizingMethod='crop')");
}

ul.b2-vmenu a .r
{
  left:expression(this.parentNode.offsetWidth-998+'px');
  clip: rect(auto auto auto 996px);
}

ul.b2-vmenu a .l
{
  width: expression(this.parentNode.offsetWidth-2+'px');
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.b2-vmenu ul a
{
  color: #000000 !important;
  position: relative;
  zoom: 1;
}
ul.b2-vmenu ul li{
  position: relative;
  zoom: 1;
}

ul.b2-vmenu ul a.active
{
  color: #FFFFFF !important;
}

ul.b2-vmenu ul a:hover {
  color: #FFFFFF !important;
}	

ul.b2-vmenu ul a:hover span, ul.b2-vmenu ul a:hover span span
{
  color: #FFFFFF !important;
}	
/* end VMenuSubItem */

/* begin Box, Block */
.b2-block, .b2-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.b2-blockheader
{
  zoom: 1;
}

.b2-blockheader .l, .b2-blockheader .r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockheader.png',sizingMethod='crop')");
}

.b2-blockheader .r
{
  left:expression(this.parentNode.offsetWidth-994+'px');
  clip: rect(auto auto auto 973px);
}

.b2-blockheader .l
{
  width: expression(this.parentNode.offsetWidth-21+'px');
}
/* end BlockHeader */

/* begin Box, BlockContent */
.b2-blockcontent, .b2-blockcontent-body
{
  zoom: 1;
}
.b2-blockcontent-body ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */
.b2-post, .b2-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostBullets */
.b2-post ul li, .b2-post ol ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/postbullets.png',sizingMethod='crop')");
  padding-left: 10px;
  /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}

.b2-post ul ol li
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
  padding-left: 0;
  /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostQuote */
.b2-postcontent blockquote
{
  height: 1%;
  background-image: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/postquote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Footer */
.b2-footer-body
{
    padding-right: 0;
  zoom:1;
}

.b2-footer{
  zoom:1;
}

.b2-footer-text
{
  height: 50px;
}

.b2-footer-b 
{
  top: expression(this.parentNode.offsetHeight-50+'px');
  width: expression(this.parentNode.offsetWidth-10+'px');
  zoom: 1;
  font-size: 1px;
}

.b2-footer-r, .b2-footer-l
{
  top: expression(this.parentNode.offsetHeight-50+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/footer_s.png',sizingMethod='crop')");
  zoom: 1;
  font-size: 1px;
}

.b2-footer-r
{
  left: expression(this.parentNode.offsetWidth-10+'px');
  clip: rect(auto auto auto 5px);
}

.b2-footer-t
{
  zoom: 1;
  font-size: 1px;
  height: expression(this.parentNode.offsetHeight-50+'px');
  width: 100%;
}

.b2-rss-tag-icon
{
  zoom: 1;
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/rssicon.png',sizingMethod='crop')");
}

/* end Footer */

/* begin LayoutCell, content */

.b2-sidebar2 {width: auto;}
.b2-content-layout .b2-layout-cell, .b2-content-layout .b2-layout-cell .b2-content-layout .b2-layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.b2-content-layout .b2-layout-cell, .b2-content-layout .b2-layout-cell .b2-content-layout .b2-layout-cell {zoom:1;}

/* end LayoutCell, content */

#user-login-form ul li, ul.arttabs_primary li, ul.arttabs_secondary li
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}

.BlockContent
{
  width: 100% !important;	
}
