/*
Theme Name: b2_silly_clouds
Description: b2_silly_clouds, Artisteer-generated Drupal theme.
Version: 1.0
Author: Artisteer
Author URI: http://artisteer.com/
*/

/* begin Page */
/* Created by Artisteer v3.0.0.39952 */

#b2-main, table
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

.b2-postcontent,
.b2-postcontent li,
.b2-postcontent table,
.b2-postcontent a,
.b2-postcontent a:link,
.b2-postcontent a:visited,
.b2-postcontent a.visited,
.b2-postcontent a:hover,
.b2-postcontent a.hovered
{
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: justify;
    line-height: 150%;
}

.b2-postcontent p
{
    margin: 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  text-decoration: none;
}

.b2-postcontent a
{
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #297DC2;
}

.b2-postcontent a:link
{
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #297DC2;
}

.b2-postcontent a:visited, .b2-postcontent a.visited
{
  color: #297DC2;
}

.b2-postcontent  a:hover, .b2-postcontent a.hover
{
  text-decoration: underline;
  color: #404040;
}

.b2-postcontent h1
{
   color: #595959;
margin: 21px 0;
   font-size: 26px;    
}

.b2-blockcontent h1
{
margin: 21px 0;
   font-size: 26px; 
}

.b2-postcontent h1 a, .b2-postcontent h1 a:link, .b2-postcontent h1 a:hover, .b2-postcontent h1 a:visited, .b2-blockcontent h1 a, .b2-blockcontent h1 a:link, .b2-blockcontent h1 a:hover, .b2-blockcontent h1 a:visited 
{
   font-size: 26px; 
}

.b2-postcontent h2
{
   color: #595959;
margin: 19px 0;
   font-size: 24px;    
}

.b2-blockcontent h2
{
margin: 19px 0;
   font-size: 24px; 
}

.b2-postcontent h2 a, .b2-postcontent h2 a:link, .b2-postcontent h2 a:hover, .b2-postcontent h2 a:visited, .b2-blockcontent h2 a, .b2-blockcontent h2 a:link, .b2-blockcontent h2 a:hover, .b2-blockcontent h2 a:visited 
{
   font-size: 24px; 
}

.b2-postcontent h3
{
   color: #1C1C1C;
margin: 19px 0;
   font-size: 21px;    
}

.b2-blockcontent h3
{
margin: 19px 0;
   font-size: 21px; 
}

.b2-postcontent h3 a, .b2-postcontent h3 a:link, .b2-postcontent h3 a:hover, .b2-postcontent h3 a:visited, .b2-blockcontent h3 a, .b2-blockcontent h3 a:link, .b2-blockcontent h3 a:hover, .b2-blockcontent h3 a:visited 
{
   font-size: 21px; 
}

.b2-postcontent h4
{
   color: #292929;
margin: 20px 0;
   font-size: 18px;    
}

.b2-blockcontent h4
{
margin: 20px 0;
   font-size: 18px; 
}

.b2-postcontent h4 a, .b2-postcontent h4 a:link, .b2-postcontent h4 a:hover, .b2-postcontent h4 a:visited, .b2-blockcontent h4 a, .b2-blockcontent h4 a:link, .b2-blockcontent h4 a:hover, .b2-blockcontent h4 a:visited 
{
   font-size: 18px; 
}

.b2-postcontent h5
{
   color: #292929;
margin: 26px 0;
   font-size: 14px;    
}

.b2-blockcontent h5
{
margin: 26px 0;
   font-size: 14px; 
}

.b2-postcontent h5 a, .b2-postcontent h5 a:link, .b2-postcontent h5 a:hover, .b2-postcontent h5 a:visited, .b2-blockcontent h5 a, .b2-blockcontent h5 a:link, .b2-blockcontent h5 a:hover, .b2-blockcontent h5 a:visited 
{
   font-size: 14px; 
}

.b2-postcontent h6
{
   color: #3B3B3B;
margin: 35px 0;
   font-size: 12px;    
}

.b2-blockcontent h6
{
margin: 35px 0;
   font-size: 12px; 
}

.b2-postcontent h6 a, .b2-postcontent h6 a:link, .b2-postcontent h6 a:hover, .b2-postcontent h6 a:visited, .b2-blockcontent h6 a, .b2-blockcontent h6 a:link, .b2-blockcontent h6 a:hover, .b2-blockcontent h6 a:visited 
{
   font-size: 12px; 
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html 
{
    height:100%;
}

#b2-main
{
  display: inline-block;
  position: relative;
  z-index: 0;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
  overflow:visible;
  float: left;
  clear: left;
}

#b2-page-background-glare
{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
  min-width: 1000px;
}

#b2-page-background-glare-image
{
   width:100%;  
  position: fixed;
  top: 0;
  height:479px;
    background-image: url('images/page_gl.png');
  background-repeat: no-repeat;
  background-position: left top;
}

html:first-child #b2-page-background-glare
{
  border: 1px solid transparent; /* Opera fix */
}

body
{
  padding: 0; 
  margin:0;
  color: #292929;
  height:100%;
  min-height:100%;
  background-color: #66C3FA;
  background-image: url('images/Bottom_texture.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top left;
  min-width: 1000px;
}

.cleared
{
  display:block;
  clear: both;
  float: none;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  height:0;
  overflow:hidden;
}

.reset-box
{
  overflow:hidden;
  display:table; 
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

/* Image Assist module support */
body.img_assist
{
	background-color: #66C3FA !important;
	color: #292929;
}
/* end Page */

/* begin Header */
div.b2-header
{
    margin: 0 auto;
  position: relative;
  z-index: -1;
  width:100%;
  height: 100px;
  margin-top: 0;
  margin-bottom: -3px;
}

.b2-header-wrapper 
{
        position: relative;
    width:1000px;
    margin:0 auto;
}
.b2-header-inner 
{
    margin: 0 3px;
}

div.b2-header-center
{
	position: relative;
	width: 1920px;
	left:50%;
}

/* end Header */

/* begin HeaderObject */
div.b2-headerobject
{
  display: block;
  left: 0;
  margin-left: 0;
  position: absolute;
  top: 0;
  width: 128px;
  height: 100px;
  background-image: url('images/header-object.png');
}
/* end HeaderObject */

/* begin Logo */
div.b2-logo
{
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  margin-left: 140px;
}

h1.b2-logo-name
{
  display: block;
  text-align: left;
  font-size: 31px;
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
}
h1.b2-logo-name a, 
h1.b2-logo-name a:link, 
h1.b2-logo-name a:visited, 
h1.b2-logo-name a:hover
{
  font-size: 31px;
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
}

h2.b2-logo-text
{
  display: block;
  text-align: left;
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
}
h2.b2-logo-text a,
h2.b2-logo-text a:link,
h2.b2-logo-text a:visited,
h2.b2-logo-text a:hover
{
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
}

/* end Logo */

/* begin Menu */
/* menu structure */

.b2-hmenu a, .b2-hmenu a:link, .b2-hmenu a:visited, .b2-hmenu a:hover
{
    outline: none;
}

.b2-hmenu, .b2-hmenu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.b2-hmenu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.b2-hmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.b2-hmenu li li
{
  float: none;
}

.b2-hmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
  min-height: 0;
  background-image: url('images/spacer.gif');
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.b2-hmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.b2-hmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.b2-hmenu:after, .b2-hmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.b2-hmenu{
  min-height: 0;
  position:relative;
  padding: 9px 6px 6px 6px;
  float: left;
}

.b2-hmenu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}

/* menu structure */

.b2-nav
{
   position: relative;
  width:1000px;
  margin:0 auto;
  min-height: 45px;
  z-index: 100;
    margin-top: -3px;
    margin-bottom: 0;
}

.b2-nav-outer
{
    position:absolute;
    width:100%;
}

.b2-nav-wrapper 
{
        position: relative;
    width:1000px;
    margin:0 auto;
}
.b2-nav-inner 
{
    margin: 0 3px;
}

.b2-nav-l, .b2-nav-r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url('images/nav.png');
}

.b2-nav-l
{
  left: 0;
  right: 11px;
}

.b2-nav-r
{
  right: 0;
  width: 1000px;
  clip: rect(auto, auto, auto, 989px);
}

.b2-hmenu-extra1
{
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: 45px;
  background-position: center;
}

.b2-hmenu-extra2
{
  position: relative;
  display: block;
  float: right;
  width: auto;
  height: 45px;
  background-position: center;
}

/* end Menu */

/* begin MenuItem */
.b2-hmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 30px;
  cursor: pointer;
  font-size: 15px;
  text-align: left;
  text-decoration: none;
}

.b2-hmenu ul li
{
    margin:0;
    clear: both;
}

.b2-hmenu a .r, .b2-hmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 100px;
  background-image: url('images/menuitem.png');
}

.b2-hmenu a .l
{
  left: 0;
  right: 16px;
}

.b2-hmenu a .r
{
  width: 432px;
  right: 0;
  clip: rect(auto, auto, auto, 416px);
}

.b2-hmenu a .t, .b2-hmenu ul a, .b2-hmenu a:link, .b2-hmenu a:visited, .b2-hmenu a:hover
{
  font-size: 15px;
  text-align: left;
  text-decoration: none;
}

.b2-hmenu a .t
{
  color: #545454;
  padding: 0 5px;
  margin: 0 16px;
  line-height: 30px;
  text-align: center;
}

.b2-hmenu a:hover .l, .b2-hmenu a:hover .r
{
  top: -35px;
}

.b2-hmenu li:hover>a .l, .b2-hmenu li:hover>a .r
{
  top: -35px;
}

.b2-hmenu li:hover a .l, .b2-hmenu li:hover a .r
{
  top: -35px;
}
.b2-hmenu a:hover .t
{
  color: #000000;
}

.b2-hmenu li:hover a .t
{
  color: #000000;
}

.b2-hmenu li:hover>a .t
{
  color: #000000;
}

.b2-hmenu a.active .l, .b2-hmenu a.active .r
{
  top: -70px;
}

.b2-hmenu a.active .t
{
  color: #000000;
}
/* end MenuItem */

/* begin MenuSeparator */
.b2-hmenu .b2-hmenu-li-separator
{
  display: block;
  width: 11px;
  height:30px;
}
.b2-nav .b2-hmenu-separator
{
  display: block;
  margin:0 auto;
  width: 1px;
  height: 30px;
  background-image: url('images/menuseparator.png');
}
/* end MenuSeparator */

/* begin MenuSubItem */
.b2-hmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 32px;
  width: 180px;
  overflow: hidden;
  background-image: url('images/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #E0E0E0;
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 32px;
  color: #000000;
  font-size: 13px;
  margin:0;
  padding:0;
}

.b2-nav ul.b2-hmenu ul span, .b2-nav ul.b2-hmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.b2-hmenu ul a:link, .b2-hmenu ul a:visited, .b2-hmenu ul a:hover, .b2-hmenu ul a:active, .b2-nav ul.b2-hmenu ul span, .b2-nav ul.b2-hmenu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 32px;
  color: #000000;
  font-size: 13px;
  margin:0;
  padding:0;
}

.b2-hmenu ul li a:hover
{
  color: #000000;
  border-color: #9EC8EA;
  background-position: 0 -32px;
}

.b2-hmenu ul li:hover>a
{
  color: #000000;
  border-color: #9EC8EA;
  background-position: 0 -32px;
}

.b2-nav .b2-hmenu ul li a:hover span, .b2-nav .b2-hmenu ul li a:hover span span
{
  color: #000000;
}

.b2-nav .b2-hmenu ul li:hover>a span, .b2-nav .b2-hmenu ul li:hover>a span span
{
  color: #000000;
}

/* end MenuSubItem */

/* begin Box, Sheet */
.b2-sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 23px;
  min-height: 23px;
  margin-top: 0;
  margin-bottom: -3px;
  cursor:auto;
  width: 1000px;
}

.b2-sheet-body
{
  position: relative;
  padding: 3px;
    padding-top:0;
    padding-bottom:3px;
}

.b2-sheet-tr, .b2-sheet-tl, .b2-sheet-br, .b2-sheet-bl, .b2-sheet-tc, .b2-sheet-bc,.b2-sheet-cr, .b2-sheet-cl
{
  position: absolute;
}

.b2-sheet-tr, .b2-sheet-tl, .b2-sheet-br, .b2-sheet-bl
{
  width: 34px;
  height: 34px;
  background-image: url('images/sheet_s.png');
}

.b2-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 17px, 17px, auto);
}

.b2-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 17px, 17px);
}

.b2-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(17px, 17px, auto, auto);
}

.b2-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(17px, auto, auto, 17px);
}

.b2-sheet-tc, .b2-sheet-bc
{
  left: 17px;
  right: 17px;
  height: 34px;
  background-image: url('images/sheet_h.png');
}

.b2-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 17px, auto);
}

.b2-sheet-bc
{
  bottom: 0;
  clip: rect(17px, auto, auto, auto);
}

.b2-sheet-cr, .b2-sheet-cl
{
  top: 17px;
  bottom: 17px;
  width: 34px;
  background-image: url('images/sheet_v.png');
}

.b2-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 17px);
}

.b2-sheet-cl
{
  left: 0;
  clip: rect(auto, 17px, auto, auto);
}

.b2-sheet-cc
{
  position: absolute;
  top: 17px;
  left: 17px;
  right: 17px;
  bottom: 17px;
  background-color: #FFFFFF;
}

#b2-page-background-top-texture, #b2-page-background-middle-texture{
  min-width: 1000px;
}

/* end Box, Sheet */

/* begin Layout */
.b2-content-layout
{
  display: table;
  position:relative;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
  width:100%;
  margin-top:0;
  margin-bottom:0;
}
.b2-layout-cell, .b2-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none;
  margin:0;
  padding:0;
}

.b2-content-layout .b2-content-layout{margin:0;}
.b2-content-layout .b2-layout-cell, .b2-content-layout .b2-layout-cell .b2-content-layout .b2-layout-cell{display: table-cell;}
.b2-layout-cell .b2-layout-cell{display: block;}
.b2-content-layout-row {display: table-row;}
.b2-layout-glare{position:relative;}/* end Layout */

/* begin Button */
.b2-button-wrapper a.b2-button,
.b2-button-wrapper a.b2-button:link,
.b2-button-wrapper input.b2-button,
.b2-button-wrapper button.b2-button
{
  text-decoration: none;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 26px;
  height: 26px;
  margin: 0 !important;
  padding: 0 10px !important;
  overflow: visible;
  cursor: pointer;
}

.b2-button img, .b2-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.b2-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 26px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .b2-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
}

.b2-block select 
{
    width:96%;
}

.b2-button-wrapper.hover .b2-button, .b2-button-wrapper.hover a.b2-button:link, .b2-button:hover
{
  color: #FFFFFF !important;
  text-decoration: none !important;
}

.b2-button-wrapper.active .b2-button, .b2-button-wrapper.active a.b2-button:link
{
  color: #FFFFFF !important;
}

.b2-button-wrapper .b2-button-l, .b2-button-wrapper .b2-button-r
{
  display: block;
  position: absolute;
  height: 88px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.b2-button-wrapper .b2-button-l
{
  left: 0;
  right: 3px;
}

.b2-button-wrapper .b2-button-r
{
  width: 407px;
  right: 0;
  clip: rect(auto, auto, auto, 404px);
}

.b2-button-wrapper.hover .b2-button-l, .b2-button-wrapper.hover .b2-button-r
{
  top: -31px;
}

.b2-button-wrapper.active .b2-button-l, .b2-button-wrapper.active .b2-button-r
{
  top: -62px;
}

.b2-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.b2-vmenublock
{
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 7px;
}

.b2-vmenublock-body
{
  position: relative;
  padding: 0;
}

#banner1, #banner2, #banner3, #banner4, #banner5, #banner6
{
  margin: 7px;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.b2-vmenublockheader
{
  margin-bottom: 0;
  position: relative;
  height: 27px;
}

.b2-vmenublockheader h3.t
{
  position: relative;
  height: 27px;
  color: #000000;
  font-size: 15px;
  margin:0;
  padding: 0 10px 0 21px;
  white-space: nowrap;
  line-height: 27px;
}

.b2-vmenublockheader h3.t a,
.b2-vmenublockheader h3.t a:link,
.b2-vmenublockheader h3.t a:visited, 
.b2-vmenublockheader h3.t a:hover
{
  color: #000000;
  font-size: 15px;
}

.b2-vmenublockheader .l, .b2-vmenublockheader .r
{
  position: absolute;
  height: 27px;
  background-image: url('images/vmenublockheader.png');
}

.b2-vmenublockheader .l
{
  left: 0;
  right: 21px;
}

.b2-vmenublockheader .r
{
  width: 994px;
  right: 0;
  clip: rect(auto, auto, auto, 973px);
}

.b2-vmenublockheader .t h2.subject
{
  height: 27px;
  color: #000000;
  font-size: 15px;
  margin:0;
  white-space: nowrap;
  line-height: 27px;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.b2-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.b2-vmenublockcontent-body
{
  position: relative;
  padding: 0;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.b2-vmenu, ul.b2-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.b2-vmenu
{
  margin-top: 0; 
  margin-bottom: 0;
}

/* end VMenu */

/* begin VMenuItem */
ul.b2-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 24px;
  cursor: pointer;
  text-decoration: none;
}

ul.b2-vmenu li.b2-vmenu-separator
{
  display: block;
  padding: 2px 0 2px 0;
  margin: 0;
  font-size: 1px;
}

ul.b2-vmenu .b2-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border: none;
}

ul.b2-vmenu a .r, ul.b2-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  height: 82px;
  background-image: url('images/vmenuitem.png');
}

ul.b2-vmenu a .l
{
  left: 0;
  right: 2px;
}

ul.b2-vmenu a .r
{
  width: 998px;
  right: 0;
  clip: rect(auto, auto, auto, 996px);
}

ul.b2-vmenu a .t, ul.b2-vmenu ul a
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

ul.b2-vmenu a .t
{
  display: block;
  position:relative;
  top:0;
  line-height: 24px;
  color: #000000;
  padding: 0 10px 0 10px;
  margin-left:0;
  margin-right:0;
}

ul.b2-vmenu a.active .l, ul.b2-vmenu a.active .r
{
  top: -58px;
}

ul.b2-vmenu a.active .t
{
  color: #FFFFFF;
}

ul.b2-vmenu a:hover .l, ul.b2-vmenu a:hover .r
{
  top: -29px;
}

ul.b2-vmenu a:hover .t
{
  color: #FFFFFF;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.b2-vmenu ul, ul.b2-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.b2-vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 20px;
  overflow: visible;
  background-image: url('images/vsubitem.gif');
  background-position: 25px 0;
  background-repeat: repeat-x;
  padding: 0 0 0 25px;
  line-height: 20px;
  color: #000000;
  font-size: 12px;
  margin-left: 0;
}

ul.b2-vmenu ul li
{
  padding: 0;
}

ul.b2-vmenu ul ul li
{
  padding:0;
}

ul.b2-vmenu ul span, ul.b2-vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.b2-vmenu ul a:link, ul.b2-vmenu ul a:visited, ul.b2-vmenu ul a:hover, ul.b2-vmenu ul a:active, ul.b2-vmenu ul span, ul.b2-vmenu ul span span
{
  line-height: 20px;
  color: #000000;
  font-size: 12px;
  margin-left: 0;
}

ul.b2-vmenu ul
{
    margin:0 0 0 0;
}

ul.b2-vmenu ul ul
{
  margin:0 0 0 0;
}

ul.b2-vmenu ul li.b2-vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 0 0 0 0;
 }

ul.b2-vmenu ul .b2-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.b2-vmenu ul li.b2-vmenu-separator-first
{
    margin-bottom:2px;
    padding-bottom:0;
}

ul.b2-vmenu ul li li a
{
  background-position: 50px 0;
  padding: 0 0 0 50px;
}

ul.b2-vmenu ul li li li a
{
  background-position: 75px 0;
  padding: 0 0 0 75px;
}

ul.b2-vmenu ul li li li li a
{
  background-position: 100px 0;
  padding: 0 0 0 100px;
}

ul.b2-vmenu ul li li li li li a
{
  background-position: 125px 0;
  padding: 0 0 0 125px;
}

ul.b2-vmenu ul li a.active
{
  color: #FFFFFF;
  background-position: 25px -50px;
}

ul.b2-vmenu ul li li a.active
{
  background-position: 50px -50px;
}

ul.b2-vmenu ul li li li a.active
{
  background-position: 75px -50px;
}

ul.b2-vmenu ul li li li li a.active
{
  background-position: 100px -50px;
}

ul.b2-vmenu ul li li li li li a.active
{
  background-position: 125px -50px;
}

ul.b2-vmenu ul li a:hover, ul.b2-vmenu ul li a:hover.active
{
  color: #FFFFFF;
  background-position: 25px -25px;
}

ul.b2-vmenu ul li li a:hover, ul.b2-vmenu ul li li a:hover.active
{
  background-position: 50px -25px;
}

ul.b2-vmenu ul li li li a:hover, ul.b2-vmenu ul li li li a:hover.active
{
  background-position: 75px -25px;
}

ul.b2-vmenu ul li li li li a:hover, ul.b2-vmenu ul li li li li a:hover.active
{
  background-position: 100px -25px;
}

ul.b2-vmenu ul li li li li li a:hover, ul.b2-vmenu ul li li li li li a:hover.active
{
  background-position: 125px -25px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.b2-block
{
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 7px;
}

.b2-block-body
{
  position: relative;
  padding: 0;
}

div.b2-block img
{
/* WARNING do NOT collapse this to 'border' - inheritance! */
    border-color: #C7C7C7;
  border-style: solid;
  margin: 0;
}

#banner1, #banner2, #banner3, #banner4, #banner5, #banner6
{
  margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.b2-blockheader
{
  margin-bottom: 0;
  position: relative;
  height: 27px;
}

.b2-blockheader h3.t
{
  position: relative;
  height: 27px;
  color: #000000;
  font-size: 15px;
  margin:0;
  padding: 0 10px 0 27px;
  white-space: nowrap;
  line-height: 27px;
}

.b2-blockheader h3.t a,
.b2-blockheader h3.t a:link,
.b2-blockheader h3.t a:visited, 
.b2-blockheader h3.t a:hover
{
  color: #000000;
  font-size: 15px;
}

.b2-blockheader .l, .b2-blockheader .r
{
  position: absolute;
  height: 27px;
  background-image: url('images/blockheader.png');
}

.b2-blockheader .l
{
  left: 0;
  right: 21px;
}

.b2-blockheader .r
{
  width: 994px;
  right: 0;
  clip: rect(auto, auto, auto, 973px);
}

.b2-blockheader .t h2.subject
{
  height: 27px;
  color: #000000;
  font-size: 15px;
  margin:0;
  white-space: nowrap;
  line-height: 27px;
  font-weight: bold;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.b2-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
	width: 100% !important;
}

.b2-blockcontent-body
{
  position: relative;
  padding: 5px;
  color: #000000;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  line-height: 175%;
}

.b2-blockcontent-body table,
.b2-blockcontent-body li, 
.b2-blockcontent-body a,
.b2-blockcontent-body a:link,
.b2-blockcontent-body a:visited,
.b2-blockcontent-body a:hover
{
  color: #000000;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  line-height: 175%;
}

.b2-blockcontent-body p
{
  margin: 6px 0;
}

.b2-blockcontent-body a, .b2-blockcontent-body a:link
{
  color: #297DC2;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.b2-blockcontent-body a:visited, .b2-blockcontent-body a.visited
{
  color: #297DC2;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.b2-blockcontent-body a:hover, .b2-blockcontent-body a.hover
{
  color: #000000;
  text-decoration: underline;
}

.b2-blockcontent-body ul li
{
  line-height: 125%;    
  color: #0E2B43;
  padding: 0 0 0 10px;
  background-image: url('images/blockcontentbullets.png');
  background-repeat: no-repeat;
}

.b2-blockcontent-body .calendar-calendar td a:visited, .b2-blockcontent-body .calendar-calendar td a.visited
{
  color: #297DC2;
}

.b2-blockcontent-body .links li
{
  background-image: none;
  display: block;
}

.b2-blockcontent-body .calendar-calendar td a:hover
{
  text-decoration: underline;
}

.b2-blockcontent-body table td.mini a
{
  font-weight: normal;
}

.b2-blockcontent-body table td div.mini-day-on a
{
  text-decoration: underline;
}

.b2-blockcontent-body .calendar-calendar td a
{
  text-decoration: none;
}

/* BEGIN Recipe module support */
.recipe-summary .b2-blockcontent-body, .recipe-description .b2-blockcontent-body,
.recipe-ingredients .b2-blockcontent-body, .recipe-instructions .b2-blockcontent-body
{
  padding: 0;
}
/* END Recipe module support *//* end Box, BlockContent */

/* begin Box, Post */
.b2-post
{
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 0;
}

.b2-post-body
{
  position: relative;
  padding: 7px;
}

a img
{
  border: 0;
}

.b2-article img, img.b2-article, .b2-block img, .b2-footer img
{
  border: solid 0 #C7C7C7;
  margin: 3px;
}

.b2-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.b2-article table, table.b2-article
{
  border-collapse: collapse;
  margin: 1px;
}

.b2-article th, .b2-article td
{
  padding: 2px;
  border: solid 1px #C7C7C7;
  vertical-align: top;
  text-align: left;
}

.b2-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

fieldset
{
  margin: 1em 0;
  padding: 1em;
  border: solid 1px #C7C7C7;
  width: 95%;
	display: block;
}

/* BEGIN Flatcomments module support */

.comment-folded
{
	margin: 0;
}

#comments .box span.b2-button-wrapper
{
	margin: 0;
}

#comments .b2-postcontent, #comments .b2-postcontent p
{
	text-align: left;
}

/* END Flatcomments module support */
/* end Box, Post */

/* begin PostHeaderIcon */
h2.b2-postheader
{
  color: #404040;
  margin: 5px 0;
  font-size: 26px;
}

h2.b2-postheader a, 
h2.b2-postheader a:link, 
h2.b2-postheader a:visited,
h2.b2-postheader a.visited,
h2.b2-postheader a:hover,
h2.b2-postheader a.hovered
{
  font-size: 26px;
}

h2.b2-postheader a, h2.b2-postheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #404040;
}

h2.b2-postheader a:visited, h2.b2-postheader a.visited
{
  color: #404040;
}

h2.b2-postheader a:hover,  h2.b2-postheader a.hovered
{
  color: #949494;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.b2-postheadericons,
.b2-postheadericons a,
.b2-postheadericons a:link,
.b2-postheadericons a:visited,
.b2-postheadericons a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  color: #000000;
}

.b2-postheadericons
{
  padding: 1px;
}

.b2-postheadericons a, .b2-postheadericons a:link
{
  text-decoration: none;
  color: #404040;
}

.b2-postheadericons a:visited, .b2-postheadericons a.visited
{
  font-style: normal;
  font-weight: normal;
  color: #404040;
}

.b2-postheadericons a:hover, .b2-postheadericons a.hover
{
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #404040;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.b2-post ol, .b2-post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.b2-post li
{
  font-size: 14px;
  color: #141414;
  padding: 0 0 0 10px;
}

.b2-post li ol, .b2-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.b2-post ol>li
{
  background: none;
  padding-left: 0;
  /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.b2-post ul>li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 10px;
  /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}

.mceContentBody ul li, ol ul li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 10px;
}

.theme-selector .operations li, .theme-selector .operations li.first, .theme-selector .operations li.last
{
    padding-left: 10px;
    margin-right: 5px;
}

.theme-selector .operations li, .theme-selector .operations li.first, .theme-selector .operations li.last
{
    margin-right: 5px;
}
/* end PostBullets */

/* begin PostQuote */
.b2-postcontent blockquote,
.b2-postcontent blockquote a,
.b2-postcontent blockquote a:link,
.b2-postcontent blockquote a:visited,
.b2-postcontent blockquote a:hover
{
  color: #071622;
  font-style: italic;
  font-weight: normal;
}

.b2-postcontent blockquote p
{
   margin: 2px 0 2px 15px;
}

.b2-postcontent blockquote
{
   border: solid 0 #C7C7C7;
  background-color: #FFFFFF;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;
  /* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
  clear:both;
  margin: 10px 10px 10px 50px !important;
  padding: 0 0 0 24px !important;
}

blockquote{
  margin: 10px 10px 10px 50px !important;
  padding: 0 0 0 24px !important;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.b2-postfootericons,
.b2-postfootericons a,
.b2-postfootericons a:link,
.b2-postfootericons a:visited,
.b2-postfootericons a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  color: #545454;
}

.b2-postfootericons
{
  padding: 1px;
}

.b2-postfootericons a, .b2-postfootericons a:link
{
  text-decoration: none;
  color: #595959;
}

.b2-postfootericons a:visited, .b2-postfootericons a.visited
{
  color: #595959;
}

.b2-postfootericons a:hover, .b2-postfootericons a.hover
{
  text-decoration: underline;
  color: #595959;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.b2-footer
{
  position: relative;
  margin-top:10px;
  margin-bottom:0;
  width: 100%;
}

.b2-footer-b 
{
  position: absolute;
  left:5px;
  right:5px;
  bottom:0;
  height:50px;
  background-image: url('images/footer_b.png');
}

.b2-footer-r, .b2-footer-l
{
  position: absolute;
  height:50px;
  background-image: url('images/footer_s.png');
  bottom: 0;
}

.b2-footer-l
{
  left: 0;
  width:5px;
}

.b2-footer-r
{
  right: 0;
  width:10px;
  clip: rect(auto, auto, auto, 5px);
}

.b2-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  background-color: #EBEBEB;
}

.b2-footer-body
{
    position:relative;
    padding: 10px;
}

.b2-footer-body .b2-rss-tag-icon
{
  position: absolute;
  left:   6px;
  bottom:10px;
  z-index:1;
}

.b2-rss-tag-icon
{
  display: block;
  background-image: url('images/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  height: 30px;
  width: 19px;
  cursor: default;
}

.b2-footer-text p
{
  padding:0;
  margin:0;
  text-align: center;
}

.b2-footer-text,
.b2-footer-text a,
.b2-footer-text a:link,
.b2-footer-text a:visited,
.b2-footer-text a:hover,
.b2-footer-text td, 
.b2-footer-text th,
.b2-footer-text caption
{
    color: #292929;
    font-size: 12px;
}

.b2-footer-text
{
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.b2-footer-text a,
.b2-footer-text a:link
{
  color: #595959;
  text-decoration: none;
}

.b2-footer-text a:visited
{
  color: #1C1C1C;
}

.b2-footer-text a:hover
{
  color: #1F5F93;
  text-decoration: underline;
}

div.b2-footer img
{
/* WARNING do NOT collapse this to 'border' - inheritance! */
    border-color: #C7C7C7;
  border-style: solid;
  margin: 0;
}/* end Footer */

/* begin PageFooter */
.b2-page-footer, 
.b2-page-footer a,
.b2-page-footer a:link,
.b2-page-footer a:visited,
.b2-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #141414;
}

.b2-page-footer
{
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: #404040;
}
/* end PageFooter */

/* begin LayoutCell, content */

/* end LayoutCell, content */

/* begin LayoutCell, sidebar1 */

.b2-content-layout .b2-sidebar1
{
  width: 200px;
}

/* end LayoutCell, sidebar1 */

/* begin LayoutCell, sidebar2 */

.b2-content-layout .b2-sidebar2
{
  width: 200px;
}

/* end LayoutCell, sidebar2 */

/*
** HTML elements
*/

/* BEGIN FCKEditor, CKEditor, TinyMCE modules support*/
body.b2-body-nostyle, body.cke_show_borders, #tinymce body, #tinymce body.mceContentBody, body.mceContentBody, #edit-body
{
	background-image: none;
	background-color: #FFFFFF !important;
font-family: Arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
}
/* END FCKEditor, CKEditor modules support*/

table
{
	width: 100%;
}

ul li, .item-list ul li, .menu ul li,
ul li.expanded, ul li.leaf, ul li.collapsed,
li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	display: block;
	list-style-type: none;
	list-style-image: none;
	margin: 0;
}

ul.arttabs_primary, ul.arttabs_secondary, .links, img.service-links
{
	padding-left: 0;
	margin-left: 0;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	background-image: none;
	float: left;
	display: inline;
	padding: 0;	
}

ul.links
{
	overflow: hidden;
}

ul.links li, .block ul
{
	display: inline;
	background-image: none;
	padding: 0;
}

ul.menu li a.active
{
	font-weight: bold;
}

#tinymce body ul, #tinymce body.mceContentBody ul, body.mceContentBody ul
{
  margin: 1em 0 1em 2em;
}

li.messages
{
	margin: 5px 0;
}

#user-login-form
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left: 0;
}

/* Fix fieldset for IE8 and FFox */
fieldset legend
{
	display: block;
}

.breadcrumb
{
	display: block;
	padding-bottom: .7em;
	margin: 1em 0 0 0.7em;
}

#edit-name, #edit-pass, #edit-mail
{
	width: 90%;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background: #C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

.forum-topic-navigation
{
	border-top: 0 transparent;
	border-bottom: 0 transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0;
	text-align: left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.filefield-upload .b2-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

.profile h3
{
	border-bottom: 0 none;
	margin-bottom: 1em;
}

/* BEGIN Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}
/* END Image Attach module fix */

/* BEGIN ImageField module fix */
img.imagefield
{
	margin: 0;
}
/* END ImageField module fix */

/* BEGIN Support User picture */
.picture, .comment .submitted
{
	clear: right;
	float: right;
}
/* END Support User picture */

/* BEGIN Support Nodeblock module */
.b2-block-body .b2-post
{
	margin: 0;
}
/* END Support Nodeblock module */

/* BEGIN Support floating panels in IE8 */
.panel-col-last
{
	clear: right;
}
/* END Support floating panels in IE8 */

/* BEGIN Support FCKEditor text alignment */
.rteleft
{
	text-align: left !important;
}

.rteright
{
	text-align: right !important;
}

.rtecenter
{
	text-align: center !important;
}

.rtejustify
{
	text-align: justify !important;
}
/* END Support FCKEditor text alignment */

/* BEGIN Set background color for sticky table */
table.sticky-header
{
	background-color: #FFFFFF !important;
}
/* END Set background color for sticky table */

/* BEGIN Set alignment for radio buttons */
input.form-radio, input.form-checkbox
{
	margin: 0 0 2px;
	vertical-align: baseline;
}
/* END Set alignment for radio buttons*/

/* BEGIN Move bradcrumb from separate post */
h2.with-tabs
{
	margin-top: 0;
	margin-bottom: 0;
}

/* END Move bradcrumb from separate post */

/* BEGIN Increasing distance between buttons */
span.b2-button-wrapper
{
	margin: 0 5px 0 0;
}
/* END Increasing distance between buttons */

/* BEGIN Page validation fix */
.half-width
{
	width: 50%;
}

.third-width
{
	width: 33%;
}

.two-thirds-width
{
	width: 67%;
}
/* END Page validation fix */

/* BEGIN FckEditor bug with link disappearing fixed */
#switch_oFCK_1
{
	display: block !important;
}
/* END FckEditor bug with link disappearing fixed */

.b2-postcontent .calendar-calendar ul li, .b2-postcontent .calendar-calendar ol ul li,
.b2-postcontent div.view div.views-admin-links ul li, .b2-postcontent div.view div.views-admin-links ol ul li
{
  background-image: none;
  padding: 2px;
}

.date-heading h3
{
  text-align: center;
}

.b2-postcontent ul.arttabs_primary li, .b2-postcontent ul.arttabs_secondary li
{
  background-repeat: no-repeat;
  background-image: none;
}

tbody, tbody th, tr.even, tr.odd
{
	border: none;
}

/* BEGIN Contextual links styles in Drupal 7 */

ul.contextual-links li
{
	background-image: none !important;
	padding-left: 4px !important;
}

ul.contextual-links li a
{
	font-family: Arial !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 12px !important;
	text-align: left !important;
	text-decoration: none !important;
}

/* END Contextual links styles in Drupal 7*/

/* BEGIN Taxonomy terms Artisteer styles in Drupal 7 */
.b2-tags, .b2-tags .field, .b2-tags .field .field-label,
.b2-tags .field .field-items, .b2-tags .field .field-items .field-item
{
	display: inline;
}

.b2-tags .field-item a:after
{
	content: ', ';
}

.b2-tags .field-item:last-child a:after
{
	content: '';
}
/* END Taxonomy terms Artisteer styles in Drupal 7 */

/* BEGIN Action links support in Drupal7 */
.b2-post ul.action-links li
{
	background-image: none;
	list-style-type: none;
}

.b2-post ul.action-links a
{
    background: url("images/addicon.png") no-repeat scroll 0 center transparent;
    line-height: 30px;
    padding-left: 15px;
}
/* END Action links support in Drupal7 */

/* BEGIN Overlay module support */
#overlay #overlay-content #b2-page-background-middle-texture
{
    background-image: none;
}

#overlay-tabs li a, #overlay-tabs li a:active, #overlay-tabs li a:visited, #overlay-tabs li a:hover
{
    background-color: transparent;
    font-weight: normal;
}
/* END Overlay module support */

/* BEGIN Front page list view support */
#first-time ol
{
    list-style-position: outside;
}
/* END Front page list view support */

